header {
  position: relative;
}

h1 {
  text-align: center;
  font-size: 55px;
}

.destination-card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.destination-card-list > div {
  border: 2px solid gray;
  display: flex;
  gap: 10px;
}

.destination-card-list div img {
  width: 20%;
}

.container {
  display: block !important;
  width: 80vw;
  padding: 0 !important;
  margin: 0 auto;
  margin-top: 20px;
}